#testimonials {
    padding-top: 100px;
    background-color: var(--color-gray-100);
    padding-bottom: 80px;

    .container {
        display: flex;
        align-items: center;

        .testimonials-left {
            flex: 1;
        }

        .testimonials-right {
            flex: 1;
            display: flex;
            margin-left: 60px;
            gap: 10px;
            flex-direction: column;

            h1 {
                width: 60%;
                justify-content: start;
            }

            .testimonial-item {
                display: flex;
                gap: 40px;
                align-items: end;
                margin-bottom: 30px;
                justify-content: space-between;
                width: 80%;



                .testimonial-item-content {
                    flex-direction: column;

                    .rating-icon {
                        width: 40%;
                    }
                }

                .testimonial-link {
                    margin-left: 20px;
                }
            }
        }
    }
}
