@using WebApp.Models.Components
@model SubscribeViewModel

@{

}
@if (Model.Subscriber.Email != null)
{
    <div>You are subscribed</div>
    <div>@Model.Subscriber.Email</div>
    <div>@Model.Id</div>
}
else
{
    <div>Nåt gick fel</div>
}